In [8]:
import pandas as pd


test_qtime = 'underexpose_test_qtime-0.csv'
test_click = 'underexpose_test_click-0.csv'

In [9]:
path = '../data/underexpose_test/underexpose_test_click-0/'

test_qtime = pd.read_csv(path + test_qtime, header=None)
test_click = pd.read_csv(path + test_click, header=None)

In [10]:
test_qtime.columns = ['user_id', 'query_time']
test_click.columns = ['user_id', 'item_id', 'time']

In [11]:
test_qtime.head()

   user_id  query_time
0       11    0.983869
1       22    0.983956
2       44    0.983924
3       55    0.983953
4       66    0.983895

In [15]:
test_click[test_click['user_id']==1133].sort_values('time',ascending=True)

       user_id  item_id      time
15807     1133    87266  0.983790
549       1133   104098  0.983791
5368      1133    44994  0.983791
5247      1133    20158  0.983796
2512      1133      255  0.983796
663       1133     9782  0.983811
20848     1133    45861  0.983811
3286      1133    20994  0.983811
0         1133      221  0.983812
16224     1133    40563  0.983812
6557      1133    26645  0.983812
4513      1133    11025  0.983812
1734      1133    85790  0.983812
15320     1133   114555  0.983812
2977      1133    87433  0.983812
1224      1133   112859  0.983812
9481      1133   102761  0.983813
10614     1133    81626  0.983813
17111     1133    76445  0.983813
14274     1133    46930  0.983814
19477     1133    23623  0.983819
18591     1133   107772  0.983819
16248     1133    44764  0.983819
12361     1133    44298  0.983819
19604     1133    50808  0.983820
602       1133   114268  0.983820
17733     1133    71916  0.983823
14280     1133    47382  0.983826
12582     1133    86913  0.983826
2804      1133    52860  0.983826
18578     1133   105114  0.983834
1491      1133    40659  0.983834
13385     1133   114077  0.983834
19735     1133    75694  0.983834
3843      1133     5134  0.983842
3796      1133   113194  0.983848
7029      1133   113538  0.983848
320       1133    62265  0.983865
14561     1133    92902  0.983919

In [16]:
test_qtime[test_qtime['user_id']==1133]

    user_id  query_time
61     1133    0.983953